


<div class="container">
  <h2>Realtime Cloudstore via Firestore & Angular 5</h2>
    <input type="text" [(ngModel)]="title" name="title" placeholder="title" class="title">
      <textarea name="content" [(ngModel)]="content" placeholder="Content"  cols="80" class="title"></textarea>
        <input type="submit" class="submit-btn" value="Add a post" (click)="addPost()">

<ul class="post" *ngFor="let post of posts | async" >
  <li (click)="getPost(post.id)">
    <h3 class="post-title"><strong>{{ post.data.title }} (<a href="#" (click)="deletePost(post.id)">Delete</a>)</strong></h3>
    <br>
    <p class="post-content">{{ post.data.content }}</p>

  </li>
</ul>

</div>


<h1>A specific post:</h1>

<h3>{{ (post | async)?.title }}</h3>
<p>{{ (post | async)?.content }}</p>
